<link rel="stylesheet" href="/style.css">

<h1>Two-Factor Authentication</h1>

{{#if message}}
<p style="color:red;">{{message}}</p>
{{/if}}

<form method="POST" action="/2fa">
    <input type="hidden" name="username" value="{{username}}">

    <div>
        <label>2FA Code:</label>
        <input type="text" name="code">
    </div>

    <div>
        <button type="submit">Verify</button>
    </div>
</form>